---
---

@import "{{ site.theme }}"; 

.page-header { 
	padding-top: 2rem;
	padding-bottom: 1rem;
	color: #f6b41f;
	background-color: #5f3d33;
	background-image: none; 
}

@media (min-width: 800px) {
  	.page-header { 
		background-image: url(https://raw.githubusercontent.com/master117/EasyDiscordBotPage/master/Header.png); 
	}
}

.btn {
    	color: rgba(#f6b41f, 0.7);
    	text-decoration: none;
    	background-color: rgba(#f6b41f, 0.08);
    	border-color: rgba(#f6b41f, 0.01);
}

.btn:hover {
    	color: rgba(#f6b41f, 0.8);
    	text-decoration: none;
    	background-color: rgba(#f6b41f, 0.2);
    	border-color: rgba(#f6b41f, 0.3);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #5f3933;
}