---
---

@import "{{ site.theme }}"; 

.page-header { 
	padding-top: 2rem;
	padding-bottom: 0rem;
	color: #FFF !important;
	background-color: #FFF;
	background-image: url("https://raw.githubusercontent.com/master117/EasyDiscordBotPage/master/Header2.png"); 
}

.btn {
    	color: rgba(#FFF, 0.7);
    	text-decoration: none;
    	background-color: rgba(#FFF, 0.08);
    	border-color: rgba(#FFF, 0.01);
}

.btn:hover {
    	color: rgba(#FFF, 0.8);
    	text-decoration: none;
    	background-color: rgba(#FFF, 0.2);
    	border-color: rgba(#FFF, 0.3);
}